<!DOCTYPE html>
<html>
    <head>Image details</head>
</html>
<body>
    <div class="container">

        <!-- Poster background -->
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 image" style="background: url({{giphy.images}}) no-repeat center center">
            </div>
    
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 giphy-details">
                <h3>{{ giphy.title }}</h3>
    
                <p class="url"> {{ giphy.url }}</p>
                
            </div>
        </div>
    
    </div>
</body>